<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=0.2,maximum-scale=1.0,user-scalable=no" />
<title>公告</title>
<style type="text/css">
<!--
.STYLE16 {
	font-size: 12px;
	color: #CCCCCC;
}
body {
	background-color: #333333;
}
.STYLE17 {
	color: #FFFFFF;
	font-weight: bold;
}
.STYLE20 {color: #FFFFFF}
.STYLE22 {color: #FFCC00; font-weight: bold; }
.STYLE27 {color: #FFFF00; font-weight: bold; }
.STYLE29 {color: #CC66FF; font-weight: bold; }
.STYLE34 {color: #66FFFF}
-->
</style></head>

<body>
<table width="100%" border="0" align="center" cellspacing="1" bordercolor="#FFFFFF">
  <tr>
    <td align="left"><p class="STYLE17">《 二十四小时 燃爆速度激情 》 </p>    </td>
  </tr>
   <tr bgcolor="#416ca9">
    <td height="30" align="left"><span class="STYLE17">|  新手福利多多，小伙伴完全不用担心关卡太难啦！</span></td>
  </tr>
    <tr>
    <td align="left"><p class="STYLE20">1、闯关第一章节，如果闯关失败，可以获得一次“免费升星”的机会。（仅限挑战者车型）</p>
      <p class="STYLE20">2、闯关第二章节，如果闯关失败，可以获得一次“保时捷降临”助你过关哟！</p>
    </td>
  </tr>
  <tr bgcolor="#416ca9">
    <td height="30" align="left"><span class="STYLE17">| 商城内容多多：折扣、礼包、赛车图纸！ </span></td>
  </tr>
  <tr>
    <td align="left"><p class="STYLE20">1、商城有“图纸”专项分类，可以直接购买车辆图纸！</p>
      <p class="STYLE20">2、没有折扣，你跟我说这叫“秒杀”？限时折扣全面登场！3折起哟！</p>
      <p class="STYLE20">3、“夺宝”功能最划算，心如精选图纸与装备，一夜变强就靠她了。</p>
	</td>
  </tr>
   <tr bgcolor="#416ca9">
    <td height="30" align="left"><span class="STYLE17">| 活动中心优惠多多，惊喜不断！</span></td>
  </tr>
  <tr>
    <td align="left">
          <span class="STYLE20">
          <p class="STYLE20">1、等级礼包：升级就有礼包拿，钻石汽油夺宝卡；更有高级进阶版，赛车图纸折扣大！</span>
          <p class="STYLE20">2、成长基金：一次投入888钻，升级就能领钻石，可领取总计5888钻！</span>
          <p class="STYLE20">3、幸运宝箱：稳赚不赔，花钻开宝箱，稳定120%至180%增益，你还等什么？</span>
          <p class="STYLE20">4、累充返还：你敢充，我们就敢送，返还比例最高可达200%！！</span>
          <p class="STYLE20">5、每日挑战：三个不同难度，三种素材品质，极高概率可以获得急需素材哟。</span>
	</td>
  </tr>
  

   <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
</table>
</body>
</html>
