<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=0.2,maximum-scale=1.0,user-scalable=no" />
<title>公告</title>
<style type="text/css">
<!--
.STYLE16 {
	font-size: 12px;
	color: #CCCCCC;
}
body {
	background-color: #333333;
}
.STYLE17 {
	color: #FFFFFF;
	font-weight: bold;
}
.STYLE20 {color: #FFFFFF}
.STYLE22 {color: #FFCC00; font-weight: bold; }
.STYLE27 {color: #FFFF00; font-weight: bold; }
.STYLE29 {color: #CC66FF; font-weight: bold; }
.STYLE34 {color: #66FFFF}
-->
</style></head>

<body>
<table width="100%" border="0" align="center" cellspacing="1" bordercolor="#FFFFFF">
  <tr>
    <td align="left"><p class="STYLE17">《 我是车神2 - 火热开服 》 </p>    </td>
  </tr>
  <tr>
    <td align="left"><p class="STYLE22">玩家交流QQ群：495845243</p>    </td>
  </tr>
   <tr bgcolor="#CC0000">
    <td height="30" align="left"><span class="STYLE17">|  开服“PVP段位赛”火热开赛！</span></td>
  </tr>
    <tr>
    <td align="left"><p class="STYLE20">万众期待的PVP系列赛事开启！第一弹 <span class="STYLE22">段位赛</span> 火热进行中！</p>
      <p class="STYLE20">马上参加赛事，就有机会获得全新的专属超级跑车！</p>
      <table border="0" cellspacing="10">
        <tr>
          <td><img src="/images/announcement/pvp_reward_car2.png" width="260" height="146" /></td>
          <td><p class="STYLE17">超级跑车 ｉ８</p>
          <p class="STYLE17"><span class="STYLE27">CLASS SS  <br />
          ★★★★★★★</span></p></td>
        </tr>
        <tr>
          <td><img src="/images/announcement/pvp_reward_car1.png" width="260" height="146" /></td>
          <td><p class="STYLE17">超级跑车 刺鱼</p>
          <p class="STYLE17"><span class="STYLE29">CLASS S  <br />
          ★★★★★★</span></p></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr bgcolor="#CC0000">
    <td height="30" align="left"><span class="STYLE17">| VIP特权启动！优惠多多，好礼更多！ </span></td>
  </tr>
  <tr>
    <td align="left"><p class="STYLE20">VIP特权全新上线，根据玩家的充值额度和每日VIP经验成长，提升VIP等级！</p>
      <p class="STYLE20">解锁更多的VIP专属特权、各种好礼拿到手软！</p>
      <p class="STYLE20"><img src="/images/announcement/ss15_1.jpg" width="400" height="226" /></p>
      <p class="STYLE20">更有<span class="STYLE22">仅限VIP用户</span>才能获得的专属豪华跑车！！炫酷无敌！</p>
    <table border="0" cellspacing="10">
        <tr>
          <td><img src="/images/announcement/newcar_17.jpg" width="260" height="146" /></td>
          <td><p class="STYLE17 STYLE34">《VIP专属》</p>
            <p class="STYLE17">红色传奇 拉法</p>
            <p class="STYLE17"><span class="STYLE27">CLASS SS  <br />
          ★★★★★★★</span></p></td>
        </tr>
        <tr>
          <td><img src="/images/announcement/newcar_13.jpg" width="260" height="146" /></td>
          <td><p class="STYLE17"><span class="STYLE17 STYLE34">《VIP专属》</span></p>
            <p class="STYLE17">R8 APR </p>
            <p class="STYLE17"><span class="STYLE29">CLASS S  <br />
          ★★★★★★</span></p></td>
        </tr>
      </table>
	</td>
  </tr>
   <tr bgcolor="#CC0000">
    <td height="30" align="left"><span class="STYLE17">| 两强遭遇勇者胜！最刺激的“街头挑战”降临！</span></td>
  </tr>
  <tr>
    <td align="left">
          <span class="STYLE20">
          <p class="STYLE20">全新《街头挑战》功能开启！您在完成一个关卡时，可能会随机遭遇其它玩家的挑战！                    </span>
      <p class="STYLE20"><span class="STYLE20">接受挑战将<span class="STYLE22">不会消耗汽油</span>，胜利后更有机会获得<span class="STYLE22">豪华钻石奖励</span>！          </span>          
      <span class="STYLE20">
      <p class="STYLE20"><img src="/images/announcement/ss15_2.jpg" width="400" height="225" />      </span></td>
  </tr>
  <tr bgcolor="#CC0000">
    <td height="30" align="left"><span class="STYLE17">| 主线故事的选关画面焕然一新！</span></td>
  </tr>
  <tr>
    <td align="left">
          <span class="STYLE20">
          <p class="STYLE20">重新制作的主线故事选关画面，更具直观性和临场感！          
          <p class="STYLE20"><img src="/images/announcement/ss15_3.jpg" width="400" height="224" />          </span>
      <p class="STYLE20">全力投入《我是车神2》激动人心的剧情中，一起揭开重重谜团吧！
      </td>
  </tr>
    </table>
<table width="100%" border="0" align="center" cellspacing="1" bordercolor="#FFFFFF">
	<tr bgcolor="#CC0000">
		<td height="30" align="left"><span class="STYLE17">| 欢迎您参加《我是车神2》游戏测试！</span></td>
	</tr>
	<tr>
		<td align="left">
			<span class="STYLE20">
			<p class="STYLE20">本次测试为删档测试，您的充值将在游戏公测时双倍返还。</span>
		<p class="STYLE20">例如：
		<p class="STYLE20">删档测试期间购买6元钻石，公测将获得120钻石返还
		<p class="STYLE20">删档测试期间购买30元月卡，公测将获得600钻石返还
		<p class="STYLE20">祝您游戏愉快！
		</td>
	</tr>
</table>
    </td>
  </tr>
		</td>
	</tr>
	</table>
  

   <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
   <tr align="center">
    <td><span class="STYLE16">(C)2014,2016 CK Games / CK Tianyu / Studio KUN</span></td>
  </tr>
</table>
</body>
</html>
