<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=0.2,maximum-scale=1.0,user-scalable=no" />
<title>游戏公告</title>
<style type="text/css">
<!--
.STYLE4 {color: #00a0e9; font-weight: bold; }
.STYLE13 {
	font-size: 16px;
	color: #000000;
	font-weight: bold;
}
.STYLE14 {color: #0099FF}
.STYLE15 {font-size: 14px}
.STYLE16 {font-size: 12px}
-->
</style></head>

<body>
<table width="100%" border="0" align="center" cellspacing="1" bordercolor="#FFFFFF">
  <tr>
    <td height="30" align="center"><img src="/images/announcement/title_logo.png" width="480" height="94" /></td>
  </tr>
  <tr>
    <td height="30"><hr align="left" width="100%" color="#808080"/></td>
  </tr>
  <tr>
    <td height="30" align="left"><span class="STYLE14">| 2016.05.05</span><span class="STYLE13"> - </span>IOS 华丽开服！</td>
  </tr>
  <tr>
    <td><hr align="left" width="100%" color="#e0e0e0"/></td>
  </tr>
  <tr>
    <td align="left"><p class="STYLE15">万众期待的超高速赛车手游《我是车神2》终于登陆IOS平台！体验时速500km/h以上的极限快感，揭开神秘少女雪儿的身世之谜，速度与激情之夜，无人入眠！</p>
    <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td height="90" align="center" class="STYLE4"><p><img src="/images/announcement/ss01.jpg" width="400" height="200" /></p>
    <p><img src="/images/announcement/ss02.jpg" width="400" height="200" /></p>
    <p>&nbsp;</p></td>
  </tr>
   <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
   <tr align="center">
    <td><span class="STYLE16">(C)2014,2016 CK Games / CK Tianyu / Studio KUN</span></td>
  </tr>
</table>
</body>
</html>
