<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=0.2,maximum-scale=1.0,user-scalable=no" />
<title>测试已经结束</title>
<style type="text/css">
<!--
.STYLE4 {color: #00a0e9; font-weight: bold; }
body {
	background-color: #FFFFFF;
}
.STYLE17 {font-size: 14px}
.STYLE18 {font-size: medium}
-->
</style></head>

<body>
<table width="101%" border="0" align="center" cellspacing="1" bordercolor="#ffffff">
  <tr>
    <td><div align="center"></div></td>
  </tr>
  <tr>
    <td><hr align="center" width="100%" /></td>
  </tr>
  <tr>
    <td align="center">
      <img src="/images/announcement/mainten_title.jpg" width="266" height="77" />      </td>
  </tr>
  <tr>
    <td><hr align="center" width="100%" /></td>
  </tr>
  <tr>
    <td height="90" align="center" class="STYLE4"><table border="0">
      <tr>
        <td width="200" align="center"><img src="/images/announcement/char_sd1.jpg" width="200" height="272" /></td>
        <td align="center"><pre class="STYLE18" ng-bind-html="msg.content.textContent.text | msgfilter : msg.atOpenIds : msg.info.highlightKeyword">亲爱的玩家，

<br />本次删档测试结束，感谢您的支持！

<br />本次测试期间充值将在公测时返还！</pre></td>
      </tr>
    </table></td>
  </tr>
   <tr>
    <td><hr align="center" width="100%" /></td>
  </tr>
   <tr>
    <td align="center"><table width="400" border="0">
      <tr>
        <td align="right"><span class="STYLE17">客服电话： </span></td>
        <td><span class="STYLE17">400-666-1551</span></td>
      </tr>
      <tr>
        <td align="right"><span class="STYLE17">客服信箱：</span></td>
        <td><span class="STYLE17">gm@coco.cn</span></td>
      </tr>
      <tr>
        <td align="right"><span class="STYLE17">客服QQ：</span></td>
        <td><span class="STYLE17">4006661551</span></td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
