<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,minimum-scale=0.2,maximum-scale=1.0,user-scalable=no" />
<title>PVP段位赛 赛事规则</title>
<style type="text/css">
<!--
.STYLE16 {
	font-size: 12px;
	color: #CCCCCC;
}
body {
	background-color: #333333;
}
.STYLE17 {
	color: #FFFFFF;
	font-weight: bold;
}
.STYLE18 {font-size: 24px}
.STYLE19 {color: #FFCC00}
.STYLE20 {color: #FFFFFF}
.STYLE22 {color: #FFCC00; font-weight: bold; }
.STYLE27 {color: #FFFF00; font-weight: bold; }
.STYLE29 {color: #CC66FF; font-weight: bold; }
.STYLE33 {font-size: 14; color: #FFFFFF; font-weight: bold; }
-->
</style></head>

<body>
<table width="100%" border="0" align="center" cellspacing="1" bordercolor="#FFFFFF">
  <tr>
    <td align="center"><p class="STYLE17"><span class="STYLE18">PVP段位赛</span><br />
      <span class="STYLE19">赛事时间：每周一至每周日</span></p>    </td>
  </tr>
   <tr bgcolor="#CC0000">
    <td height="30" align="left"><span class="STYLE17">|  PVP段位赛火热进行中 赢取全新专属超级跑车！ </span></td>
  </tr>
    <tr>
    <td align="left"><table border="0" cellspacing="10">
      <tr>
        <td align="left" valign="top"><img src="/images/announcement/pvp_reward_car2.png" width="400" height="225" /></td>
        <td><img src="/images/announcement/pvp_reward_car1.png" width="400" height="225" /></td>
      </tr>
      <tr>
        <td align="left" valign="top"><span class="STYLE17">超级跑车 ｉ８ </span></td>
        <td><span class="STYLE17">超级跑车 刺鱼</span></td>
      </tr>
      <tr>
        <td align="left" valign="top"><span class="STYLE27">CLASS SS  ★★★★★★★</span></td>
        <td><span class="STYLE29">CLASS S  ★★★★★★</span></td>
      </tr>
    </table>
    </td>
  </tr>
  <tr bgcolor="#CC0000">
    <td height="30" align="left"><span class="STYLE17">| 赛事规则</span></td>
  </tr>
  <tr>
    <td align="left"><table width="100%" border="0" cellspacing="10">
      <tr>
        <td width="40" align="left" valign="top"><span class="STYLE22">赛季</span></td>
        <td align="left" valign="top"><span class="STYLE20">PVP段位赛以赛季为单位，每个赛季持续时间为一周。</span></td>
      </tr>
      <tr>
        <td width="40" align="left" valign="top"><span class="STYLE22">段位</span></td>
        <td align="left" valign="top"><span class="STYLE20">玩家进入赛事后，获得初始段位<span class="STYLE22">青铜3 </span>。在前一赛季结束时获得高段位的玩家，进入下一赛季时会从较高的初始段位起步。</span></td>
      </tr>
      <tr>
        <td width="40" align="left" valign="top"><span class="STYLE22">对战</span></td>
        <td align="left" valign="top"><span class="STYLE20">玩家在本模式中，消费专用的<span class="STYLE19"><strong>对战次数，</strong></span>与匹配到的其它玩家进行一对一的竞速赛，胜利时会获得<span class="STYLE19"><strong>积分</strong></span>和<span class="STYLE19"><strong>1颗星</strong></span>。当段位在<span class="STYLE22">白银3</span>以上时，失败时会失去1颗星。</span></td>
      </tr>
      <tr>
        <td width="40" align="left" valign="top"><span class="STYLE22">升段</span></td>
        <td align="left" valign="top"><span class="STYLE20">每一个段位有各自的升级星数，获得足够星数后，下一场比赛即进入<span class="STYLE19"><strong>升段战</strong></span>状态。取得升段战胜利，即升入下一段位，并获得相应的升段奖励。</span></td>
      </tr>
      <tr>
        <td width="40" align="left" valign="top"><span class="STYLE22">降段</span></td>
        <td align="left" valign="top"><span class="STYLE20">当段位在<span class="STYLE22">黄金2</span>及以上时，若当前的星数为0，则比赛失败会降到低一级的段位。</span></td>
      </tr>
      <tr>
        <td width="40" align="left" valign="top"><span class="STYLE22">积分</span></td>
        <td align="left" valign="top"><span class="STYLE20">在本赛事中，玩家可以通过对战胜利、升段奖励、结算奖励等途径获得积分。积分可以在本赛事专属的商店中兑换丰富多彩的奖励。</span></td>
      </tr>
      <tr>
        <td width="40" align="left" valign="top"><span class="STYLE22">排行</span></td>
        <td align="left" valign="top"><span class="STYLE20">当玩家升到最高段位<span class="STYLE19"><strong>白金</strong></span>后，即进入本赛季的白金排行榜，参与更加激烈的排行竞争！</span>
          </td>
      </tr>
    </table>
    </td>
  </tr>
   <tr bgcolor="#CC0000">
    <td height="30" align="left"><span class="STYLE17">| 奖励规则</span></td>
  </tr>
  <tr>
    <td align="left"><table width="100%" border="0" cellspacing="10">
      <tr>
        <td width="80" align="left" valign="top"><span class="STYLE22">升段奖励</span></td>
        <td valign="top"><span class="STYLE20">玩家每次升至新的段位时，会即时获得对应的升段奖励。</p>
          </span>
          <table width="400" border="1">
            <tr>
              <td width="60"><span class="STYLE33">青铜2</span></td>
              <td><span class="STYLE29">图纸：刺鱼</span><span class="STYLE20">x1、积分2000</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">青铜1</span></td>
              <td><span class="STYLE29">图纸：刺鱼</span><span class="STYLE20">x1、积分5000</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">白银3</span></td>
              <td><span class="STYLE29">图纸：刺鱼</span><span class="STYLE20">x1、积分10000</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">白银2</span></td>
              <td><span class="STYLE29">图纸：刺鱼</span><span class="STYLE20">x1、积分12000</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">白银1</span></td>
              <td><span class="STYLE29">图纸：刺鱼</span><span class="STYLE20">x1、积分14000</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">黄金3</span></td>
              <td><span class="STYLE27">图纸：i8 </span><span class="STYLE20">x1、积分15000</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">黄金2</span></td>
              <td><span class="STYLE27">图纸：i8 </span><span class="STYLE20">x1、积分16000</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">黄金1</span></td>
              <td><span class="STYLE27">图纸：i8 </span><span class="STYLE20">x1、积分18000</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">白金</span></td>
              <td><span class="STYLE27">图纸：i8 </span><span class="STYLE20"> x1、积分20000</span></td>
            </tr>
          </table>
          <span class="STYLE20">
          <p class="STYLE20">          
          </span></td>
      </tr>
      <tr>
        <td width="80" align="left" valign="top"><span class="STYLE22">每日结算</span></td>
        <td valign="top"><span class="STYLE20">赛季期间，每天的0:00会对前一天的玩家成绩进行结算，发放每日结算奖励至玩家的<span class="STYLE22">邮箱</span>中。</p>
           <table width="400" border="1">
            <tr>
              <td width="60"><span class="STYLE33">青铜3</span></td>
              <td><span class="STYLE20">积分1000、金币5000</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">青铜2</span></td>
              <td><span class="STYLE20">积分1000、金币1万</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">青铜1</span></td>
              <td><span class="STYLE20">积分1000、金币2万</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">白银3</span></td>
              <td><span class="STYLE20">积分2000、金币3万</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">白银2</span></td>
              <td><span class="STYLE20">积分2000、金币4万</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">白银1</span></td>
              <td><span class="STYLE20">积分2000、金币5万</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">黄金3</span></td>
              <td><span class="STYLE20">积分3000、金币6万</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">黄金2</span></td>
              <td><span class="STYLE20">积分3000、金币7万</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">黄金1</span></td>
              <td><span class="STYLE20">积分3000、金币8万</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">白金</span></td>
              <td><span class="STYLE20">积分5000、金币10万</span></td>
            </tr>
          </table>
          <span class="STYLE20">
          <p class="STYLE20">          
          </span></td>
      </tr>
      <tr>
        <td width="80" align="left" valign="top"><span class="STYLE22">赛季结算</span></td>
        <td valign="top"><span class="STYLE20">每个赛季结束时，会对玩家整个赛季的成绩进行结算，发放赛季结算奖励至玩家的<span class="STYLE22">邮箱</span>中。</p>
          <table width="400" border="1">
            <tr>
              <td width="60"><span class="STYLE33">青铜3</span></td>
              <td><span class="STYLE29">图纸：刺鱼</span><span class="STYLE20">x1、积分1000、金币1万</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">青铜2</span></td>
              <td><span class="STYLE29">图纸：刺鱼</span><span class="STYLE20">x1、积分2000、金币5万</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">青铜1</span></td>
              <td><span class="STYLE29">图纸：刺鱼</span><span class="STYLE20">x1、积分5000、金币10万</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">白银3</span></td>
              <td><span class="STYLE29">图纸：刺鱼</span><span class="STYLE20">x3、积分10000、金币12万</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">白银2</span></td>
              <td><span class="STYLE29">图纸：刺鱼</span><span class="STYLE20">x4、积分12000、金币14万</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">白银1</span></td>
              <td><span class="STYLE29">图纸：刺鱼</span><span class="STYLE20">x5、积分14000、金币15万</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">黄金3</span></td>
              <td><span class="STYLE27">图纸：i8 </span><span class="STYLE20">x1、积分15000、金币16万</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">黄金2</span></td>
              <td><span class="STYLE27">图纸：i8 </span><span class="STYLE20">x3、积分16000、金币17万</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">黄金1</span></td>
              <td><span class="STYLE27">图纸：i8 </span><span class="STYLE20">x5、积分18000、金币18万</span></td>
            </tr>
            <tr>
              <td width="60"><span class="STYLE33">白金</span></td>
              <td><span class="STYLE27">图纸：i8 </span><span class="STYLE20">x10、积分20000、金币20万</span></td>
            </tr>
          </table>
          <span class="STYLE20">
          <p class="STYLE20">          
          </span></td>
      </tr>
    </table>
    </td>
  </tr>
  

   <tr>
    <td><hr align="left" width="100%" /></td>
  </tr>
   <tr align="center">
    <td><span class="STYLE16">(C)2014,2016 CK Games / CK Tianyu / Studio KUN</span></td>
  </tr>
</table>
</body>
</html>
